<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .card-img-container {
      	height: 250px;
        width: 250px;
      }
    </style>
    <title>{{ product['Название'] }}</title>

  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('show_main_catalog') }}">
        Пример каталога
        </a>
    </nav>
    <div class="container w-100 py-4">
      <div class="d-flex align-items-center">
        <a class="text-decoration-none p-0 mr-2" style="color: black;" href="{{ url_for('show_catalog', path=return_path) }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
          </svg>
        </a>
        <h2>{{ product['Название'] }}</h2>
      </div>
      <div class="card-img-container d-flex justify-content-left">
        <img class="img-fluid" src="
        {% if product.get('Иконка', None) != None %}
        {{ url_for('get_image', name=product.get('Иконка')) }}
        {% else %}
        {{ url_for('get_image', name='imagenotfound.png') }}
        {% endif %}
        ">
      </div>
      <h4 style="font-style: italic;">{{ product['Цена'] }} ₽</h4>
      <h2>Описание</h2>
      <p>{{ product['Описание'] }}</p>
      <h2>Характеристики</h2>
      {% for key in specs.keys()%}
      <p class="my-1">{{ key }} : {{ specs[key] }}</p>
      {% endfor %}
    </div>
  </body>
</html>