<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Удаление подкаталога</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('show_main_catalog') }}">
        Пример каталога
        </a>
    </nav>
    <form method="POST" enctype="multipart/form-data" class="container mx-auto py-4">
    	<h1 class="mb-4">Удаление подкаталога</h1>
    	<h5>Выберите подкаталог</h5>
		<select class="form-control mb-1" style="width: 250px" name="select" required>
			<option disabled hidden selected>Выберите подкаталог</option>
			{% for key in subs.keys() %}
			<option value="{{ key }}">{{ subs[key].name }}</option>
          	{% endfor %}
		</select>
		<div class="form-check form-check-inline mb-3">
		    <input type="checkbox" class="form-check-input" name="recursive">
		    <label class="form-check-label" for="recursive">Удалить рекурсивно</label>
		</div>
		<button class="d-block btn btn-danger" type="submit">
		Удалить
		</button>
	</form>
</body>
</html>